{% extends "layout.html" %}
{% block content %}
<center><h1 class="major">Zatwierdzanie terminów</h1></center>
<section id="main" class="wrapper">
    <div style="text-align: center;">
        {% if list_len_confirm_admin == False %}
        <div>
            <h2>Brak terminów</h2>
            <a href="{{ url_for('admin') }}" class="button">Powrtót</a>
            <br />
        </div>
        {% else %}
        <div>
            <form action="http://localhost:5000/confirm_admin2" method="POST">
                <h3>Wybierz termin: </h3>
                <fieldset class="form-group">
                <div align="center">
                    <select name="test1">
                        {% for x in range(list_len_confirm_admin) %}
                            <option value="{{start1[x]}}">{{start1[x]}}</option>
                        {% endfor %}
                    </select>
                <div>
                </fieldset>
                <input type="submit" value="Zatwierdz"  class="button"/>
            </form>
        </div>
        {% endif %}
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
</section>
    {% endblock content %}
