{% extends "layout.html" %}
{% block content %}

<h1 class="major"><center>Czy na pewno chcesz usunać konto ?</center></h1>
<section id="main" class="wrapper">
    <div style="text-align: center;">
        <form action="http://localhost:5000/del_confirmed" method="POST">
            <fieldset class="form-group">
                <div align="center">
                <select name="wyb1">
                    <option value="NIE">NIE</option>
                    <option value="TAK">TAK</option>
                </select>
                </div>
            </fieldset>
            <input type="submit" value="Zatwierdź" />
        </form>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
</section>


        {% endblock content %}
