{% extends "layout.html" %}
{% block content %}
<section id="main" class="wrapper">
    <div style="text-align: center;">
        <br />
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d292.3619271836259!2d23.3495111!3d54.1110572!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46e0efc708913227%3A0x9aa73fc86997ec84!2sWile%C5%84ska+15%2C+16-500+Sejny!5e0!3m2!1spl!2spl!4v1565382238935!5m2!1spl!2spl" width="700" height="600" frameborder="0" style="border:0" allowfullscreen></iframe></iframe>
    </div>
</section>
{% endblock content %}
